<div class="title-small">
	{% if list-1-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-1-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-1-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-1-image }}">
					{% if list-2-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-2-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-2-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-2-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-2-image }}">
					{% if list-3-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-3-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-3-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-3-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-3-image }}">
					{% if list-4-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-4-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-4-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-4-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-4-image }}">
					{% if list-5-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-5-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-5-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-5-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-5-image }}">
					{% if list-6-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-6-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-6-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-6-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-6-image }}">
					{% if list-7-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-7-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-7-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-7-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-7-image }}">
					{% if list-8-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-8-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-8-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-8-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-8-image }}">
					{% if list-9-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-9-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-9-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-9-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-9-image }}">
					{% if list-10-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-10-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-10-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-10-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-10-image }}">
					{% if list-11-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-11-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-11-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-11-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-11-image }}">
					{% if list-12-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-12-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-12-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-12-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-12-image }}">
					{% if list-13-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-13-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-13-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-13-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-13-image }}">
					{% if list-14-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-14-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-14-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-14-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-14-image }}">
					{% if list-15-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-15-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-15-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-15-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-15-image }}">
					{% if list-16-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-16-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-16-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-16-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-16-image }}">
					{% if list-17-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-17-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-17-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-17-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-17-image }}">
					{% if list-18-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-18-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-18-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-18-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-18-image }}">
					{% if list-19-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-19-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-19-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-19-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-19-image }}">
					{% if list-20-title != "" %}
						<div class="gap"></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if list-20-title != "" %}
		<div class="list-item">
			<div class="list-item-title" data="closed"><span>+</span> {{ list-20-title }}</div>
			<div class="list-item-content paragraph" style="height: 0px">
				<div class="list-item-measuring-wrapper">
					<div class="gap"></div>
					{{ list-20-description }}
					<div class="gap"></div>
					<img style="width: 100%" src="{{ list-20-image }}">
				</div>
			</div>
		</div>
	{% endif %}
</div>

<!-- -------------------- style -------------------- -->

<style>

	.list-item-content {
		overflow: hidden;
		-webkit-transition: height 450ms cubic-bezier(0.19, 1, 0.22, 1);
		-moz-transition: height 450ms cubic-bezier(0.19, 1, 0.22, 1);
		-ms-transition: height 450ms cubic-bezier(0.19, 1, 0.22, 1);
		-o-transition: height 450ms cubic-bezier(0.19, 1, 0.22, 1);
		transition: height 450ms cubic-bezier(0.19, 1, 0.22, 1);
	}

	.list-item-title {
		cursor: pointer;
	}

</style>

<!-- -------------------- script -------------------- -->

<script>

	const listTitles = document.querySelectorAll('.list-item-title');

	listTitles.forEach.call(listTitles, function (listTitle, index) {
		listTitle.addEventListener('click', function () {
			const content = this.nextElementSibling;
			// open
		    if (content.style.height === '0px') {
		    	// closeAllOpenItems();
		    	content.style.height = content.children[0].clientHeight + "px";
		    	this.children[0].innerHTML = `✕`
		    	this.style.color = "{{ product.metafields.custom.instrument_price_color }}";
		    	this.setAttribute("data", "open");
		    // close
		    } else {
		    	content.style.height = '0px';
		    	this.children[0].innerHTML = `+`
		    	this.style.color = "{{ product.metafields.custom.instrument_text_color }}";
		    	this.setAttribute("data", "closed");
		    }
		})
	});

	// document.addEventListener('DOMContentLoaded', function() {
	// 	const listTitle = listTitles[0];
	// 	const content = listTitle.nextElementSibling;
	// 	content.style.height = content.children[0].clientHeight + "px";
 //    	listTitle.children[0].innerHTML = `✕`
 //    	listTitle.style.color = "{{ product.metafields.custom.instrument_price_color }}";
 //    	listTitle.setAttribute("data", "open");
 //  	});

  	window.addEventListener('load', function () {
		const listTitle = listTitles[0];
		const content = listTitle.nextElementSibling;
		content.style.height = content.children[0].clientHeight + "px";
    	listTitle.children[0].innerHTML = `✕`
    	listTitle.style.color = "{{ product.metafields.custom.instrument_price_color }}";
    	listTitle.setAttribute("data", "open");
	})

	function closeAllOpenItems() {
		listTitles.forEach(function(listTitle) {
			if (listTitle.getAttribute("data") === "open") {
				console.log("i am open!")
				const content = listTitle.nextElementSibling;
				content.style.height = '0px';
		    	listTitle.children[0].innerHTML = `+`
		    	listTitle.style.color = "{{ product.metafields.custom.instrument_text_color }}";
		    	listTitle.setAttribute("data", "closed");
		    	console.log(listTitle.getAttribute("data"));
			}
		});
	};

</script>









