<!-- ------------------------------ html ------------------------------ -->

<html>

	<title>{{ product.title | upcase }} ← SLATE + ASH</title>

	<!-- ------------------------------ header ------------------------------ -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="header-container">
			<div class="header-logo title">
				<a href="/"><span class="header-logo-plus">+</span>A</a> → <a href="/collections/instruments/">INSTRUMENTS</a>
				<br>
				<a href="/"><span class="header-logo-s">S</span></a>
			</div>
			<div class="header-menu-button" id="menu-button">+ MENU</div>
			<div class="header-title-with-subtitle title scroll-fade-in">
				{{ product.title | upcase }}
			</div>
		</div>
		<div class="gap"></div>
		<div class="header-subtitle paragraph-large scroll-fade-in">
			{{ product.description }}
		</div>
		<div class="gap"></div>
		<div class="header-subtitle title-small scroll-fade-in">
			<div>{{ product.title | upcase }}</div>
			<div style="color: {{ product.metafields.custom.instrument_compare_at_color }}"><s>{{ product.compare_at_price | money_without_trailing_zeros }}</s></div>
			<div style="color: {{ product.metafields.custom.instrument_price_color }}">{{ product.price | money_without_trailing_zeros }}</div>
			<div style="display: flex; justify-content: space-between;">
				<div style="text-align: left;"><button id="add-to-cart-button">+ TO CART</button></div>
				<div style="text-align: right"><a href="/collections/bundles/">→ BUNDLES</a></div>
			</div>
		</div>
		<div class="gap"></div>
	</div>

	<!-- ------------------------------ youtube modal (hidden) ------------------------------ -->

    <div class="youtube-modal" id="youtube-modal">
        <div class="player-container" id="player-container">
            <div id="player">
            </div>
        </div>
    </div>

	<!-- ------------------------------ video ------------------------------ -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; display: flex; justify-content: right">
        <div class="gap"></div>
        <div class="youtube-video scroll-fade-in" id="youtube-video" data-video-id="SzOc5BiM9Ho" style="width: 100%">
            <div class="youtube-video-label title">→ PLAY</div>
            <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/0029/7785/7602/files/aurs_main.jpg?v=1683236880">
        </div>
    </div>

	<!-- ------------------------------ sound design philosophy ------------------------------ -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container">
			<div class="grid-item-empty">
				<div class="grid-title title scroll-fade-in">
					SOUND DESIGN PHILOSOPHY
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item">
				<div class="grid-paragraph paragraph-large scroll-fade-in">
					The sound world of AURAS focuses primarily on abstract and impressionistic textures and rhythms. 
				</div>
				<div class="gap"></div>
				<div class="grid-paragraph paragraph scroll-fade-in">
					It is influenced by the styles of composers and artists who blur the boundaries between sound design, orchestration and music. John Luther Adams, Ben Frost, Ingram Marshall, Tim Hecker, Ian William Craig, Machinedrum and William Basinski were all reference points for a library that explores the manipulation of sound as if it were an energetic field or aura of sonic texture that constantly shifts in shape and colour.
					<br><br>
					Deeply programmed MIDI control enables this concept to be played with intuitively and expressively. Unlike the way a regular sample library gives a strictly defined and static snapshot of a sound, AURAS allows the shapes and forms of each sound to be played with in a dynamic and unique way.
					<br><br>
					A wide variety of sounds were recorded as material for the sound design, with an emphasis on capturing performance and movement rather than a vast array of multi-sampled notes. Strings, synths, winds, field recordings, percussion and more were used as source material that was processed using a number of techniques and effects to create a sonic landscape that ranges from soft and fragile to complete chaos.
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>
		<div class="scroll-fade-in">
			{% assign slide-id = "slideshowinstrument" %}
			{% assign slide-1-url = "https://cdn.shopify.com/s/files/1/0029/7785/7602/files/aurs.jpg?v=1683119797" %}
			{% assign slide-2-url = "https://cdn.shopify.com/s/files/1/0029/7785/7602/files/colls.jpg?v=1683119851" %}
			{% render "slideshowinstrument", slide-id: slide-id, num-slides: num-slides, slide-1-url: slide-1-url, slide-2-url: slide-2-url, slide-3-url: slide-3-url, slide-4-url: slide-4-url, slide-5-url: slide-5-url, slide-6-url: slide-6-url, slide-7-url: slide-7-url, slide-8-url: slide-8-url, slide-9-url: slide-9-url,%}
		</div>
		<div class="gap"></div>
	</div>

	<!-- ------------------------------ auras + colors ------------------------------ -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container">
			<div class="grid-item-empty">
				<div class="grid-title title scroll-fade-in">
					AURAS + COLOURS
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item">
				<div class="grid-paragraph paragraph-large scroll-fade-in">
					The AURAS section of the library contains over 60 curated multi-layered instruments, creatively programmed to inspire new ideas. 
				</div>
				<div class="gap"></div>
				<div class="grid-paragraph paragraph scroll-fade-in">
					Layers and effects are interacted with using the knobs and sliders of MIDI CC controllers or using the multi-dimensional gestural controls of MPE devices such as the ROLI Seaboard. A minimal GUI allows multiple parameters of each layer to be tweaked in order to to adjust the sound to taste.
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>
		<div style="display: flex; justify-content: right">
            <div class="gap"></div>
            <div class="youtube-video scroll-fade-in" id="youtube-video" data-video-id="pbrVdHv07YQ">
                <div class="youtube-video-label title">→ AURAS</div>
                <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/0029/7785/7602/files/auras_auras.jpg?v=1683237199">
            </div>
        </div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item">
				<div class="grid-paragraph paragraph-large scroll-fade-in">
					With over 100 patches, the COLOURS environment gives you the opportunity to take the source material from the AURAS instruments and shape your own sounds in a fast and simple way. 
				</div>
				<div class="gap"></div>
				<div class="grid-paragraph paragraph scroll-fade-in">
					Immediate and intuitive sound manipulation parameters make it easy to focus on creating unique and playable textures in an instinctive and creative manner. The built in modulation matrix allows various effects and parameters to be assigned to knobs and sliders on MIDI controllers, MPE multi-touch controls, or any of two adjustable internal LFOs.
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>
		<div>
            <div class="gap"></div>
            <div class="youtube-video scroll-fade-in" id="youtube-video" data-video-id="tNNhGDl2yFo">
                <div class="youtube-video-label title">→ COLOURS</div>
                <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/0029/7785/7602/files/auras_colours.jpg?v=1683237156">
            </div>
        </div>
		<div class="gap"></div>
	</div>

	<!-- ------------------------------ intuitive expression ------------------------------ -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container">
			<div class="grid-item-empty">
				<div class="grid-title title scroll-fade-in">
					INTUITIVE EXPRESSION
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item">
				<div class="grid-paragraph paragraph-large scroll-fade-in">
					Each AURAS patch’s layers and effects can be easily assigned to be controlled by knobs and sliders on any MIDI CC controller. 
				</div>
				<div class="gap"></div>
				<div class="grid-paragraph paragraph scroll-fade-in">
					Both the AURAS and COLOURS engines have a MIDI learn function in which the user can simply twist a knob or push a slider on their MIDI controller to assign its CC number to the relevant parameter, allowing for extremely powerful and immediate expression.
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>
		<div style="display: flex; justify-content: right">
            <div class="gap"></div>
            <div class="youtube-video scroll-fade-in" id="youtube-video" data-video-id="BOuIRUb385U">
                <div class="youtube-video-label title">→ ALT DEVICES</div>
                <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/0029/7785/7602/files/aurs_alt.jpg?v=1683237023">
            </div>
        </div>
		<div class="gap"></div>
	</div>

	<!-- ------------------------------ polyphonic texture controls ------------------------------ -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container">
			<div class="grid-item-empty">
				<div class="grid-title title scroll-fade-in">
					POLYPHONIC TEXTURE CONTROL
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item">
				<div class="grid-paragraph paragraph-large scroll-fade-in">
					AURAS is the first Kontakt library designed to work with MPE multi-touch technology. 
				</div>
				<div class="gap"></div>
				<div class="grid-paragraph paragraph scroll-fade-in">
					Multiple dimensions of touch allow for polyphonic control of a variety of creative sound shaping parameters. AURAS patches contain layers and effects that can be individually controlled per note using multi-dimensional gestural movement on the keybed, allowing for uniquely responsive expression in sound design performance.
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>
		<div>
            <div class="gap"></div>
            <div class="youtube-video scroll-fade-in" id="youtube-video" data-video-id="iqt79LvdhHk">
                <div class="youtube-video-label title">→ MPE</div>
                <img style="width: 100%" src="https://cdn.shopify.com/s/files/1/0029/7785/7602/files/aurs_mpe.jpg?v=1683237023">
            </div>
        </div>
		<div class="gap"></div>
	</div>

	<!-- ---------- audio demos ---------- -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container">
			<div class="grid-item-empty">
				<div class="grid-title title scroll-fade-in">
					AURAS IN CONTEXT
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item scroll-fade-in">
				{% assign num-tracks = 4 %}
				{% assign track-1-url = "https://cdn.shopify.com/s/files/1/0029/7785/7602/files/AURAS_-_Hunter.mp3?3289" %}
				{% assign track-1-name = "Hunter — Simon Ashdown" %}
				{% assign track-2-url = "https://cdn.shopify.com/s/files/1/0029/7785/7602/files/AURAS._-_Yair_Elazar_Glotman_-_Affirmare.mp3?3289" %}
				{% assign track-2-name = "Affirmare — Yair Elazar Glotman" %}
				{% assign track-3-url = "https://cdn.shopify.com/s/files/1/0029/7785/7602/files/Sam_Slater_-_Basic_Goodness.mp3?v=1683192772" %}
				{% assign track-3-name = "Basic Goodness — Sam Slater" %}
				{% assign track-4-url = "https://cdn.shopify.com/s/files/1/0029/7785/7602/files/AURAS_-_SHADOW_ENCOUNTER_2.mp3?v=1683192670" %}
				{% assign track-4-name = "Shadow Encouter — Simon Ashdown" %}
				{% assign track-5-url = "" %}
				{% assign track-5-name = "" %}
				{% assign track-6-url = "" %}
				{% assign track-6-name = "" %}
				{% assign track-7-url = "" %}
				{% assign track-7-name = "" %}
				{% assign track-8-url = "" %}
				{% assign track-8-name = "" %}
				{% assign track-9-url = "" %}
				{% assign track-9-name = "" %}
				{% render "audio-demos", num-tracks: num-tracks, track-1-url: track-1-url, track-1-name: track-1-name, track-2-url: track-2-url, track-2-name: track-2-name, track-3-url: track-3-url, track-3-name: track-3-name, track-4-url: track-4-url, track-4-name: track-4-name, track-5-url: track-5-url, track-5-name: track-5-name, track-6-url: track-6-url, track-6-name: track-6-name, track-7-url: track-7-url, track-7-name: track-7-name, track-8-url: track-8-url, track-8-name: track-8-name, track-9-url: track-9-url, track-9-name: track-9-name %}
				<div class="gap-desktop"></div>
			</div>
		</div>
	</div>

	<!-- ------------------------------ auras ep ------------------------------ -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container">
			<div class="grid-item-empty">
				<div class="grid-title title scroll-fade-in">
					AURAS EP
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item">
				<div class="grid-paragraph paragraph-large scroll-fade-in">
					The AURAS EP is a compilation of tracks created by a variety of contemporary artists using the AURAS instrument as a stimulus for their own musical visions.
				</div>
				<div class="gap"></div>
				<div class="grid-paragraph paragraph scroll-fade-in">
					The EP is purchased separately from the library and is available <a href="https://slateandash.bandcamp.com/">digitally</a> or as a <a href="https://slateandash.com/collections/objects/products/sa001-auras-ep">12” vinyl</a>.
				</div>
			</div>
		</div>
		<div class="gap-desktop"></div>
		<div class="scroll-fade-in" style="width: 100%; display: flex; justify-content: right;">
			<img class="instrument-image-small" src="https://cdn.shopify.com/s/files/1/0029/7785/7602/products/front_shad_1280x.png?v=1578411067">
		</div>
		<div class="gap"></div>
	</div>

	<!-- ------------------------------ quotes ------------------------------ -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container">
			<div class="grid-item-empty">
				<div class="grid-title-no-top title scroll-fade-in">
					TESTIMONIALS + REVIEWS
				</div>
			</div>
		</div>
		<div class="gap">
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item-empty">
				<div class="grid-title-no-top title-small scroll-fade-in">
					"WITHOUT A SHADOW OF A DOUBT, A VERY CLASSY PRODUCT. SONICALLY, IT REWARDS HUGELY, WHICH IS TESTIMONY TO BOTH THE QUALITY OF THE SOURCE AUDIO AND THE PLENTIFUL BUT REASONABLY SIMPLE CONTROL AVAILABLE AT EDITED AND REAL-TIME LEVELS. 10/10"
				</div>
				<div class="gap-small"></div>
				<div class="grid-title-no-top paragraph scroll-fade-in">
					— MUSIC TECH MAGAZINE
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item-empty">
				<div class="grid-title-no-top title-small scroll-fade-in">
					"FOR ANYONE WHO WANTS TO CREATE AN INSTANT ATMOSPHERE, SOMETHING A LITTLE BIT DIFFERENT, SOMETHING THAT CAN RANGE BETWEEN SOUNDING BEAUTIFUL, EUPHORIC TO SINISTER AND DARK"
				</div>
				<div class="gap-small"></div>
				<div class="grid-title-no-top paragraph scroll-fade-in">
					— SAMPLE LIBRARY REVIEW
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item-empty">
				<div class="grid-title-no-top title-small scroll-fade-in">
					"ONE OF THRE BEST THINGS I EVER BOUGHT"
				</div>
				<div class="gap-small"></div>
				<div class="grid-title-no-top paragraph scroll-fade-in">
					— NATHAN MICAY (INDUSTRY, LUCKYME)
				</div>
			</div>
		</div>
		<div class="gap"></div>
	</div>

	<!-- ---------- tech specs ---------- -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container">
			<div class="grid-item-empty">
				<div class="grid-title title scroll-fade-in">
					TECHNICAL SPECIFICATIONS
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item">
				<div class="grid-paragraph paragraph scroll-fade-in">
					<span class="title-small">SOFTWARE</span>
					<div class="gap-small"></div>
					Kontakt or Kontakt 6.3.2 or higher
					<br><a href="https://www.native-instruments.com/en/products/komplete/samplers/kontakt-7-player/free-download/">Free Kontakt Player</a> included
					<div class="gap"></div>
					<span class="title-small">SYSTEM</span>
					<div class="gap-small"></div>
					Intel Macs (i5 or higher): macOS 10.15, 11 or 12 (latest update); Apple Silicon Macs: macOS 11 or 12 (latest update); Windows 10 or 11, Intel Core i5 or equivalent CPU
					<div class="gap"></div>
					<span class="title-small">SIZE</span>
					<div class="gap-small"></div>
					9GB samples compressed
					<div class="gap"></div>
					<span class="title-small">HARDWARE</span>
					<div class="gap-small"></div>
					Compatible with MIDI keyboards, MIDI controllers, ROLI Seaboard, ROLI Blocks and Haken Continuum
					<div class="gap"></div>
					<span class="title-small">DOCUMENTATION</span>
					<div class="gap-small"></div>
					<a href="https://cdn.shopify.com/s/files/1/0029/7785/7602/files/AURAS_Quick_Start_Manual_847b5ad3-b18e-45c9-bbc1-b00e5a7d5158.pdf?12209050397706886027">AURAS Quick Start Manual</a>
				</div>
			</div>
			<div class="gap-desktop"></div>
		</div>
	</div>

	<!-- ---------- buy ---------- -->

	<div style="background-color: {{ product.metafields.custom.instrument_background_color }}; color: {{ product.metafields.custom.instrument_text_color }}">
		<div class="grid-container title">
			<div class="grid-item-empty">
				<div class="general-container scroll-fade-in">
					{{ product.title | upcase }}
					{% if product.compare_at_price %} 
						<br><span style="color: {{ product.metafields.custom.instrument_compare_at_color }}"><s>{{ product.compare_at_price | money_without_trailing_zeros }}</s></span>
					{% endif %}
					<br><span style="color: {{ product.metafields.custom.instrument_price_color }}">{{ product.price | money_without_trailing_zeros }}</span>
					<br><button id="add-to-cart-button-bottom">+ TO CART</button>
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="grid-container title">
			<div class="grid-item-empty">
			</div>
			<div class="grid-item-empty" style="text-align: right">
				<div class="general-container scroll-fade-in">
					{% assign compareAtColor = product.metafields.custom.instrument_compare_at_color %}
					{% assign priceColor = product.metafields.custom.instrument_price_color %}
					{% assign featured_bundle = product.metafields.custom.instrument_featured_bundle | remove: '[' | remove: ']' | remove: '"' | remove: 'gid://shopify/Product/' | remove: ' ' %}
					{% assign featured_bundle_id = featured_bundle | plus: 0 %}
					{% for product in collections['all'].products %}
						{% if product.id == featured_bundle_id %}
							{% assign featured_bundle_variant_id = product.variants[0].id %}
							<a href="{{ product.url }}">{{ product.title | upcase }}</a>
							<br><span style="color: {{ compareAtColor }}"><s>{{ product.compare_at_price | money_without_trailing_zeros }}</s></span>
							<br><span style="color: {{ priceColor }}">{{ product.price | money_without_trailing_zeros }}</span>
							<br><button id="add-to-cart-button-bottom-bundle">+ TO CART</button>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

</html>

<!-- ------------------------------ script ------------------------------ -->

<script>

	var selectedVariant = {{ product.variants[0].id }};
	const highlightColor = "{{ product.metafields.custom.instrument_compare_at_color }}"
	const returnColor = "{{ product.metafields.custom.instrument_text_color }}"
	const returnColorInvert = "{{ product.metafields.custom.instrument_background_color }}"

	// add to cart - main

	document.getElementById("add-to-cart-button").addEventListener("click", function() {
		cartIsEmpty = 0;
		document.getElementById('cart-items').style.display = 'block';
		document.getElementById('cart-subtotal-and-checkout').style.display = 'block';
		document.getElementById('cart-empty-message').style.display = 'none';
		// get variant id
		variantId = selectedVariant;
		// change text of add to cart button
		document.getElementById("add-to-cart-button").innerHTML = "ADDING..."
		// axois post cart add
		axios.post('/cart/add.js', {
			id: variantId,
			quantity: 1,
		}).then(res => {
			console.log(res.data)
			// update cart button
			axios.get('/cart.js', {
			}).then(res => {
				console.log(res.data);
				updateCartButton(res.data.item_count);
				document.getElementById("add-to-cart-button").innerHTML = "ADDED TO CART"
				document.getElementById("add-to-cart-button").style.color = highlightColor
				if(res.data.item_count === 1) {
					document.getElementById("cart-button").style.visibility = "visible";
					document.getElementById("cart-button").classList.add("header-button-bounce-in");
					document.getElementById("cart-button").style.transform = "translateY(0)";
				} else if(res.data.item_count > 1) {
					document.getElementById("cart-button").style.color = "#c38839"
					document.getElementById("cart-button").style.backgroundColor = "#284289"
				}
				setTimeout(function(){
				    document.getElementById("add-to-cart-button").innerHTML = "+ TO CART"
				    document.getElementById("add-to-cart-button").style.color = returnColor
				    document.getElementById("cart-button").style.color = "#284289"
					document.getElementById("cart-button").style.backgroundColor = "#c38839"
				}, 750);
				// update cart
				updateCart(res.data)
			});
		});
	});

	// add to cart - bottom

	document.getElementById("add-to-cart-button-bottom").addEventListener("click", function() {
		cartIsEmpty = 0;
		document.getElementById('cart-items').style.display = 'block';
		document.getElementById('cart-subtotal-and-checkout').style.display = 'block';
		document.getElementById('cart-empty-message').style.display = 'none';
		// get variant id
		variantId = selectedVariant;
		// change text of add to cart button
		document.getElementById("add-to-cart-button-bottom").innerHTML = "ADDING..."
		// axois post cart add
		axios.post('/cart/add.js', {
			id: variantId,
			quantity: 1,
		}).then(res => {
			console.log(res.data)
			// update cart button
			axios.get('/cart.js', {
			}).then(res => {
				console.log(res.data);
				updateCartButton(res.data.item_count);
				document.getElementById("add-to-cart-button-bottom").innerHTML = "ADDED"
				document.getElementById("add-to-cart-button-bottom").style.color = highlightColor
				if(res.data.item_count === 1) {
					document.getElementById("cart-button").style.visibility = "visible";
					document.getElementById("cart-button").classList.add("header-button-bounce-in");
					document.getElementById("cart-button").style.transform = "translateY(0)";
				} else if(res.data.item_count > 1) {
					document.getElementById("cart-button").style.color = "#c38839"
					document.getElementById("cart-button").style.backgroundColor = "#284289"
				}
				setTimeout(function(){
				    document.getElementById("add-to-cart-button-bottom").innerHTML = "+ TO CART"
				    document.getElementById("add-to-cart-button-bottom").style.color = returnColor
				    document.getElementById("cart-button").style.color = "#284289"
					document.getElementById("cart-button").style.backgroundColor = "#c38839"
				}, 750);
				// update cart
				updateCart(res.data)
			});
		});
	});

	// add to cart - bottom bundle

	var selectedVariantBundle = {{ product.variants[0].id }};

	document.getElementById("add-to-cart-button-bottom-bundle").addEventListener("click", function() {
		cartIsEmpty = 0;
		document.getElementById('cart-items').style.display = 'block';
		document.getElementById('cart-subtotal-and-checkout').style.display = 'block';
		document.getElementById('cart-empty-message').style.display = 'none';
		// get variant id
		variantId = {{ featured_bundle_variant_id }};
		// change text of add to cart button
		document.getElementById("add-to-cart-button-bottom-bundle").innerHTML = "ADDING..."
		// axois post cart add
		axios.post('/cart/add.js', {
			id: variantId,
			quantity: 1,
		}).then(res => {
			console.log(res.data)
			// update cart button
			axios.get('/cart.js', {
			}).then(res => {
				console.log(res.data);
				updateCartButton(res.data.item_count);
				document.getElementById("add-to-cart-button-bottom-bundle").innerHTML = "ADDED"
				document.getElementById("add-to-cart-button-bottom-bundle").style.color = highlightColor
				if(res.data.item_count === 1) {
					document.getElementById("cart-button").style.visibility = "visible";
					document.getElementById("cart-button").classList.add("header-button-bounce-in");
					document.getElementById("cart-button").style.transform = "translateY(0)";
				} else if(res.data.item_count > 1) {
					document.getElementById("cart-button").style.color = "#c38839"
					document.getElementById("cart-button").style.backgroundColor = "#284289"
				}
				setTimeout(function(){
				    document.getElementById("add-to-cart-button-bottom-bundle").innerHTML = "+ TO CART"
				    document.getElementById("add-to-cart-button-bottom-bundle").style.color = returnColor
				    document.getElementById("cart-button").style.color = "#284289"
					document.getElementById("cart-button").style.backgroundColor = "#c38839"
				}, 750);
				// update cart
				updateCart(res.data)
			});
		});
	});

	// youtube

    var youtubeVideos = document.querySelectorAll(".youtube-video");
    var youtubeModal = document.getElementById("youtube-modal")
    var playerContainer = document.getElementById("player-container")
    var youtubeModalIsShown = 0

    // open youtube modal
    youtubeVideos.forEach(function(youtubeVideo) {
        youtubeVideo.addEventListener("click", function() {
            changeVideo(this.dataset.videoId)
            youtubeModal.style.visibility = "visible";
            youtubeModal.classList.add("youtube-fade-in");
            playerContainer.classList.add("player-container-fade-in");
            youtubeModal.style.opacity = "100%"
            playerContainer.style.opacity = "100%"
            playerContainer.style.visibility = "visible";
            document.querySelector("body").style.overflow = "hidden";
        });
    });

    // close youtube modal
    youtubeModal.addEventListener("click", function() {
        if(youtubeModalIsShown == 1) {
            youtubeModalIsShown = 0
            this.classList.add("youtube-fade-out");
            playerContainer.classList.add("player-container-fade-out");
            this.style.visibility = "hidden";
            this.style.opacity = "0%";
            playerContainer.style.opacity = "0%"
            playerContainer.style.visibility = "hidden";
            document.querySelector("body").style.overflow = "auto";
            player.pauseVideo();
        }
    });

    // fade transition end
    youtubeModal.addEventListener("transitionend", function() {
        if(this.classList.contains("youtube-fade-in")) {
            this.classList.remove("youtube-fade-in");
            youtubeModalIsShown = 1
            console.log(youtubeModalIsShown)
        }
        if(this.classList.contains("youtube-fade-out")) {
            this.classList.remove("youtube-fade-out");
        }
    });

    // load youtube api
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    let player
    let videoId
    let form = document.getElementById("form")

    function onYouTubeIframeAPIReady(){
        console.log("api is loaded")
        player = new YT.Player("player", {
            height: "100%",
            width: "100%",
            videoId: "QPjHCAHfjoU",
            playerVars: {
                playsinline: 1,
                autoplay: 0,
                controls: 1,
            },
            events: {
                onReady: onPlayerReady,
                onStateChange: onPlayerStateChange,
            },
        })
    }

    function changeVideo(videoId) {
        player.loadVideoById({videoId: videoId})
    }

    function onPlayerReady(){
    }

    function onPlayerStateChange(event){
    }
</script>